<h2>Suspects</h2>
<table>
    <tr>
      <th>Unused</th>
      <th>Name</th>
      <th><input type="text" value="P1" class="player-name" data-player="1" /></th>
      <th><input type="text" value="P2" class="player-name" data-player="2" /></th>
      <th><input type="text" value="P3" class="player-name" data-player="3" /></th>
      <th><input type="text" value="P4" class="player-name" data-player="4" /></th>
      <th><input type="text" value="P5" class="player-name" data-player="5" /></th>
      <th><input type="text" value="P6" class="player-name" data-player="6" /></th>
    </tr>
  {% for suspect in site.data.suspects %}
    {% if suspect.base_character or suspect.edition == edition%}
        <tr>
            <td class="unused-cell">☐</td>
            <td class="guess-component">{{ suspect.name }}</td>
            <td><input type="button" class="multi-checkbox" value="&#x2B1C;" /></td>
            <td><input type="button" class="multi-checkbox" value="&#x2B1C;" /></td>
            <td><input type="button" class="multi-checkbox" value="&#x2B1C;" /></td>
            <td><input type="button" class="multi-checkbox" value="&#x2B1C;" /></td>
            <td><input type="button" class="multi-checkbox" value="&#x2B1C;" /></td>
            <td><input type="button" class="multi-checkbox" value="&#x2B1C;" /></td>
        </tr>
    {% endif %}
  {% endfor %}
  </table>